div.main {
  margin: 20px auto;
  height: 490px;
  width: 600px;
  color: #142e5a;
  border: #113e6e solid;
  padding: 20px;
  border-radius: 10px;
}

i.first {
  color: #f4936d;
  font-size: 72px;
  margin-left: 25px;
}
ul {
  list-style: none;
}

h2 {
  display: inline;
}
.change {
  display: inline-block;
}
h1 {
  margin-left: 25px;
}
i {
  display: block;
}
.lol {
  border-right: #f4936d solid;
  margin: auto;
  text-align: center;
}

.additional {
  font-weight: 500;
  padding-left: 27px;
}
span {
  font-size: 15px;
  opacity: 0.7;
  text-align: right;
  font-family: monospace;
}
.me {
  text-align: center;
  padding-top: 20px;
  font-family: "Courier New", Courier, monospace;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #142e5a;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.9;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.weather-forecast-temperatures {
  font-size: 13px;
}
